#root {
  margin: 0 auto;
  padding: 0;
  font-family: 'Hack', sans-serif;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/NotoSerifArmenian-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/NotoSerifArmenian-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}