::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.swiper {
  width: 100%;
  height: 100vh
}
  

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ebf5fb;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit:  contain;
}
